<li class="album">
  <img src={{model.coverUrl}} class="cover"/>

  <div class="description">
    <h4>{{model.title}}</h4>
    <dl>
      <dt>volume</dt>
      <dd>{{model.number}}</dd>
      <dt>date</dt>
      <dd>{{model.publicationDate}}</dd>
    </dl>
  </div>
</li>